<div>

  <mat-slide-toggle [(ngModel)]="isDark">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="nightlight"></mat-icon>
  </mat-slide-toggle>

  <button mat-button class="btn">
    <mat-icon class="p-0 m-0">help</mat-icon>
  </button>

  <button mat-button class="btn">
    <mat-icon class="p-0 m-0">notifications</mat-icon>
  </button>

  <button mat-button class="btn">
    Feedback?
  </button>

  <button mat-button class="btn">
    <mat-icon class="p-0 m-0">question_answer</mat-icon>
  </button>

  <button mat-button class="btn">
    <mat-icon class="p-0 m-0">person</mat-icon>
  </button>

</div>


