
#login-card {
    width: 30rem;
    border-radius: 25px;
    margin: 150px auto;
}

#email {
    border-radius: 30px;
    background-color: #ebf0fc;
    border-color: #ebf0fc;
    color: #39393b;
}

#button {
    border-radius: 15px;
    width: 30%;
    background-color: #cf6329;
    color: white;
}

#container {
    margin-top: 25px;
}

.form-group{
    margin: 1rem;
}





