.main-container {
  width: auto;
  height: 100vh;
  background: #eee;
}

mat-drawer {
  width: 14%;
}

.drawer {
  padding: 0%;
}

.toggleBtn {
  margin: 0.5px;
  color: #252C32;
}

.content {
  color: #252C32;
}

.pageContent {
  padding: 2%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  padding-right: 3%;
}

mat-divider{
  border-color: rgb(214, 214, 214);
}
