.main-container {
  width: auto;
  height: 100vh;
  background: #eee;
}

.drawer {
  padding: 2%;
}

.toggleBtn {
  margin: 0.5px;
  color: #252C32;
}

.content {
  color: #252C32;
}

.pageContent {
  padding: 2%;
}
